<p id="notice"><%= notice %></p>

<p>
  <b>Slit spec:</b>
  <%= @slit_spec.slit_spec_id %>
</p>

<p>
  <b>Slit sub no:</b>
  <%= @slit_spec.slit_sub_no %>
</p>

<p>
  <b>Slit thickness:</b>
  <%= @slit_spec.slit_thickness %>
</p>

<p>
  <b>Slit qty:</b>
  <%= @slit_spec.slit_qty %>
</p>

<p>
  <b>Slit width:</b>
  <%= @slit_spec.slit_width %>
</p>

<p>
  <b>Product dtl:</b>
  <%= @slit_spec.product_dtl_id %>
</p>

<p>
  <b>Remark:</b>
  <%= @slit_spec.remark %>
</p>

<p>
  <b>Ratio:</b>
  <%= @slit_spec.ratio %>
</p>

<p>
  <b>Type:</b>
  <%= @slit_spec.type %>
</p>


<%= link_to 'Edit', edit_slit_spec_path(@slit_spec) %> |
<%= link_to 'Back', slit_specs_path %>
