<%= simple_form_for(@coil) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :coil_id %>
    <%= f.input :coil_lot_no %>
    <%= f.input :po_id %>
    <%= f.input :thickness %>
    <%= f.input :width %>
    <%= f.input :weight %>
    <%= f.input :coil_received_date %>
    <%= f.input :coil_status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
