<h1>Listing coils</h1>

<table>
  <tr>
    <th>Coil</th>
    <th>Coil lot no</th>
    <th>Po</th>
    <th>Thickness</th>
    <th>Width</th>
    <th>Weight</th>
    <th>Coil received date</th>
    <th>Coil status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @coils.each do |coil| %>
  <tr>
    <td><%= coil.coil_id %></td>
    <td><%= coil.coil_lot_no %></td>
    <td><%= coil.po_id %></td>
    <td><%= coil.thickness %></td>
    <td><%= coil.width %></td>
    <td><%= coil.weight %></td>
    <td><%= coil.coil_received_date %></td>
    <td><%= coil.coil_status %></td>
    <td><%= link_to 'Show', coil %></td>
    <td><%= link_to 'Edit', edit_coil_path(coil) %></td>
    <td><%= link_to 'Destroy', coil, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Coil', new_coil_path %>
