<h1>เหล็กม้วนอยู่ในระหว่างการผลิต</h1>

<table class="table table-striped table-bordered table-condensed">
  <tr>
		<th>วันที่สลิต</th>
    <th>รหัสเหล็กม้วน</th>
    <th>ล็อตผลิต</th>
    <th>ความหนา</th>
    <th>นำ้หนัก</th>
		<th>หน้าสลิต</th>
		<th>แป็บ(P)/ตัวซี(C)</th>
    <th>เวลา(นาที)</th>
    <th>เครื่อง</th>
		<th>หมายเหตุ</th>
    <th></th>
  </tr>

<% @coils.each do |coil| %>
  <tr>
		<td><%= coil.actual_slitted_date %></td>
    <td><%= coil.coil_id %></td>
    <td><%= coil.coil_film_mapping.first.coil_group_code%></td>
    <td><%= coil.thickness %></td>
    <td><%= coil.weight %></td>
		<td><%= coil.coil_film_mapping.first.slit_spec.remark %></td>
		<td><%= coil.coil_film_mapping.first.slit_spec.product.product_type %></td>
    <td><%= coil.time %></td>
    <td><%= coil.machine %></td>	
		<td><%= coil.remark %></td>
    <td><%= link_to 'Edit', edit_coil_path(coil) %></td>
  </tr>
<% end %>
</table>

<br />
