<p id="notice"><%= notice %></p>

<p>
  <b>Product dtl:</b>
  <%= @product.product_dtl_id %>
</p>

<p>
  <b>Product display:</b>
  <%= @product.product_display_id %>
</p>

<p>
  <b>Product name en:</b>
  <%= @product.product_name_en %>
</p>

<p>
  <b>Product name th:</b>
  <%= @product.product_name_th %>
</p>

<p>
  <b>Product name initial:</b>
  <%= @product.product_name_initial %>
</p>

<p>
  <b>Color:</b>
  <%= @product.color %>
</p>

<p>
  <b>Size detail:</b>
  <%= @product.size_detail %>
</p>

<p>
  <b>Thickness:</b>
  <%= @product.thickness %>
</p>

<p>
  <b>Thickness min:</b>
  <%= @product.thickness_min %>
</p>

<p>
  <b>Thickness rep:</b>
  <%= @product.thickness_rep %>
</p>

<p>
  <b>Film size:</b>
  <%= @product.film_size %>
</p>

<p>
  <b>Est weight:</b>
  <%= @product.est_weight %>
</p>

<p>
  <b>Est weight min:</b>
  <%= @product.est_weight_min %>
</p>

<p>
  <b>Actual weight:</b>
  <%= @product.actual_weight %>
</p>

<p>
  <b>Accounting weight:</b>
  <%= @product.accounting_weight %>
</p>

<p>
  <b>Piece per pack:</b>
  <%= @product.piece_per_pack %>
</p>

<p>
  <b>Piece per truck:</b>
  <%= @product.piece_per_truck %>
</p>

<p>
  <b>Wage per kilo:</b>
  <%= @product.wage_per_kilo %>
</p>

<p>
  <b>Weight display:</b>
  <%= @product.weight_display %>
</p>

<p>
  <b>In production:</b>
  <%= @product.in_production %>
</p>

<p>
  <b>Perct of films:</b>
  <%= @product.perct_of_films %>
</p>

<p>
  <b>Default vat:</b>
  <%= @product.default_vat %>
</p>

<p>
  <b>Product type:</b>
  <%= @product.product_type %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
